body {
    background-color: lightskyblue;
    font: normal 15pt Arial;
    


}

 header {
color: white;
text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(117, 107, 107);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}